---
layout: default
title: Olimpiada Chilena de Informática
---

</div>
</div>

<div class="banner">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-md-12">
                <h3>¡Participa en la OCI 2025! Inscripciones abiertas</h3>
                <a class="btn btn-primary" href="https://forms.gle/YuLhBPdMqCjwpj2V7" target="_blank">Inscríbete acá</a>
            </div>
            <!-- <div class="col-md-4 centered bannersocial">
                <a href="https://ioi2018.jp/" target="_blank"><img src="{{ site.baseurl }}/assets/images/logo_ioi2018_transparente.png" alt="IOI 2018" /></a>
                <br /><br />
                <a href="http://ioinformatics.org/" target="_blank"><img src="{{ site.baseurl }}/assets/images/logo_ioi_small.png" alt="IOI" /></a>
            </div> -->
        </div>
    </div>
</div>

<div class="container paddingless white">
    <div class="main-content main">

         {% if paginator.previous_page %}
                {% if paginator.previous_page > 0 %}
                 <div id="jumptopageof"></div>
        {% endif %}
        {% endif %}    

        <section class="recent-posts row">
            <div class="col-sm-8 content">
                <div id="slider" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider" data-slide-to="0" class="active"></li>
                        <li data-target="#slider" data-slide-to="1"></li>
                        <li data-target="#slider" data-slide-to="2"></li>
                        <li data-target="#slider" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{{ site.baseurl }}/assets/images/slider/1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="listrecent mt0">
                    {% include postbox.html %}
                </div> 
            </div>
            
            <div class="col-sm-4 sidebar">
                
                <div class="sidebar-section white paddingless">
                    <a href="https://forms.gle/YuLhBPdMqCjwpj2V7" target="_blank"><img src="/media/2025-poster-oci-small.png" alt="Afiche OCI 2025" /></a>
                </div>

                <div class="sidebar-section white paddingless">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfBanMDqV97lT_Bc2QbdKITCW0GKI038Ofp4yUMVNhhy61Gmg/viewform?fbclid=PAQ0xDSwLVR4ZleHRuA2FlbQIxMQABp8U9rATSFxlbtYl3-rHXJ53Zul_SqqXOPfysJqq8_xIcdzx-HcwZFVjzlOan_aem_oAgXzlI3lLYakm3IDnSZRg" target="_blank">
                        <img src="/media/ajpc.jpg" alt="Afiche AJPC" />
                    </a>
                </div>
                
             <!--    <div class="sidebar-section white">
                    <h5><span>Eventos OCI</span></h5>
                    <div id="mc_embed_signup" class="centered">
                        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=280&amp;wkst=2&amp;hl=es_419&amp;bgcolor=%23FFFFFF&amp;src=ka2537r4ivdf63hgl2j0cr2rvk%40group.calendar.google.com&amp;color=%23528800&amp;ctz=America%2FSantiago" style="border-width:0" width="280" height="280" frameborder="0" scrolling="no"></iframe>
                    </div>
                </div> -->

                <div class="sidebar-section borderless centered">
                    <h5><span>Síguenos</span></h5>
                    <a href="https://twitter.com/OCI_Chile" target="_blank"><img src="{{ site.baseurl }}/assets/images/icons/twitter.png" /></a>
                    &nbsp;
                    <a href="https://instagram.com/oci_chile" target="_blank"><img src="{{ site.baseurl }}/assets/images/icons/instagram.png" /></a>
                    &nbsp;
                    <a href="https://facebook.com/OCI.Chile" target="_blank"><img src="{{ site.baseurl }}/assets/images/icons/facebook.png" /></a>
                    &nbsp;
                    <a href="https://www.linkedin.com/company/olimpiada-chilena-informatica/" target="_blank"><img src="{{ site.baseurl }}/assets/images/icons/linkedin.png" /></a>
                    &nbsp;
                    <a href="https://github.com/ocioficial" target="_blank"><img src="{{ site.baseurl }}/assets/images/icons/github.png" /></a>
                </div>
            </div>
            
        </section>
