{% for post in paginator.posts limit:3 %}
    <!-- begin post -->
    {% assign author = site.authors[post.author] %}
    <div class="col-md-12 grid-item">

        <div class="card-container {% if forloop.last == false %}bottom-border{% endif %}">
            
            <div class="row">
                <div class="col-md-12">
                    <h2 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                </div>
            </div>
            
            <div class="row">
                
                <div class="col-md-{% if post.image %}4{% else %}2{% endif %}">
                    <a href="{{ post.url }}">
                    {% if post.thumbnail %}
                    <img class="img-fluid" src="{{ site.baseurl }}/media/{{ post.thumbnail }}" alt="{{ post.title }}" />
                    {% else %}
                    <span class="post-date">{{ post.date | date_to_string }}</span>
                    {% endif %}
                    </a>
                </div>
                
                <div class="col-md-{% if post.image %}8{% else %}10{% endif %}">
                    <a href="{{ post.url }}">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-text">
                                {% if post.image %}
                                    <span class="post-date">
                                        {{ post.date | date_to_string }}
                                    </span>
                                    <br />
                                {% endif %}
                                {{ post.excerpt | strip_html | truncatewords:40 }}
                            </h4>
                            <!--<span class="post-read-more"><a href="{{ post.url | absolute_url }}" title="Read Story"><i class="fa fa-link"></i></a></span>-->
                        </div>
                    </div>
                    </a>
                </div>
            
            </div>
        
        </div>
    </div>
    <!-- end post -->
{% endfor %}
