---
layout: default
comments: true
archive: false
---

</div>
</div>

<div class="banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3>{{ page.title }}</h3>
      </div>
      <div class="col-md-4 text-right bannersocial">
        <h5>Síguenos en la redes sociales</h5>
        <a href="https://twitter.com/OCI_Chile" target="_blank"><img src="{{ site.baseurl }}/assets/images/icons/twitter.png" /></a>
        &nbsp;
        <a href="https://instagram.com/oci_chile" target="_blank"><img src="{{ site.baseurl }}/assets/images/icons/instagram.png" /></a>
        &nbsp;
        <a href="https://facebook.com/OCI.Chile" target="_blank"><img src="{{ site.baseurl }}/assets/images/icons/facebook.png" /></a>
        &nbsp;
        <a href="https://www.linkedin.com/company/olimpiada-chilena-informatica/" target="_blank"><img src="{{ site.baseurl }}/assets/images/icons/linkedin.png" /></a>
        &nbsp;
        <a href="https://github.com/ocioficial" target="_blank"><img src="{{ site.baseurl }}/assets/images/icons/github.png" /></a>
      </div>
    </div>
  </div>
</div>

<div class="container article white">

  <div class="article-post">
    {{content}}
  </div>

  <section class="sponsors">
    <hr />

    <h3> Auspiciadores </h3>

    {% assign sorted_sponsors = site.sponsors | sort: 'order' %}
    {% for category in sorted_sponsors %}

      <div class="sponsor-category box">
        <article>
        <h2>{{ category.category }}</h2>
          <div class="row justify-content-center">
              {% if category.sponsors.size > 0 %}
                {% assign sponsors = category.sponsors %}
                {% case category.category %}
                  {% when 'Platino' %}
                    {% include platinum_sponsors.html %}
                  {% when 'Oro' %}
                    {% include gold_sponsors.html %}
                  {% when 'Plata' %}
                    {% include silver_sponsors.html %}
                  {% when 'Bronce' %}
                    {% include bronze_sponsors.html %}
                  {% when 'Hierro' %}
                    {% include iron_sponsors.html %}
                {% endcase %}
              {% else %}
                <p class="no-sponsors-message">No hay patrocinadores en esta categoría.</p>
              {% endif %}
          </div>
        </article>
      </div>
    {% endfor %}
  </section>

  <section class="sponsors">
    <hr />

      <h3>Organiza</h3>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <figure>
            <a href="https://sccc.cl/">
              <img src="/assets/images/logos/sccc.png" alt="Sociedad Chilena de Ciencias de la computación" class="img-fluid">
            </a>
          </figure>
        </div>
      </div>
  </section>

  <section>
    <hr />

    <h3>Con el apoyo de</h3>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <figure>
          <a href="https://imdf.cl">
            <img src="/assets/images/logos/imdf.png" alt="Instituto Milenio Fundamento de los Datos" class="img-fluid">
          </a>
        </figure>
      </div>
    </div>


  </section>



