---
layout: default
---

</div>
</div>

<div class="banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3>{{ page.title }}</h3>
            </div>
            <div class="col-md-4 text-right bannersocial">
                <h5>Síguenos en la redes sociales</h5>
                <a href="https://twitter.com/progcompcl" target="_blank"><img src="{{ site.baseurl }}/assets/images/icon_twitter.png" /></a>
                <a href="https://fb.com/progcompCL" target="_blank"><img src="{{ site.baseurl }}/assets/images/icon_facebook.png" /></a>
            </div>
        </div>
    </div>
</div>

<div class="container article white">

<section>
    <div class="mainheading">
        <hr />
    </div>
    
    <div class="article-post">
    {{content}}
    </div>
</section>
